{% extends 'layout.html' %}


{% block css %}
<style>
    #topSetBox {
        height: 4%;
        background-color:#404a59;
    }

    #displayBox {
        height: 96%;
        width: 100%x;
    }
</style>
{% endblock %}


{% block menus %}
<div id="group_menus"></div>
{% endblock %}


{% block content %}
    <div id="topSetBox">
        <button id="btnDataUpdate" type="button" class="btn btn-primary btn-xs">数据更新</button>
        <button id="btnReturnGlobal" type="button" class="btn btn-primary btn-xs"><i class="fa fa-reply" aria-hidden="true"></i> 返回全球预览</button>
    </div>

    <div id="displayBox">

    </div>
{% endblock %}

{% block js %}
<script src="/static/plugins/echarts-4.6.0/echarts.min.js"></script>
<script src="/static/plugins/map/china.js"></script>
<script src="/static/plugins/map/world.js"></script>
<script src="/static/js/FormCharts.js"></script>
<script>
    /* 以下为：JS方法中被调用的几个工具方法 */
    function formMeuns(id, dataRet) {
        var div = document.getElementById(id);
        var content = '';
        for (var i = 0; i < dataRet.groups.length; i++) {
            content += '<div class="div1"><a href="#"><i class="fa fa-users" aria-hidden="true"></i> '+dataRet.groups[i]+'</a></div>';
            content += '<div class="div2"><ul>';
            for (var j = 0; j < dataRet.data[i].branchName.length; j++) {
                content += '<li>'+ dataRet.data[i].branchName[j] +'</li>';
            }
            content += '</ul></div>';
        }
        div.innerHTML = content;
    }

    function setMyChart(myChart, dataRet) {
        var data = [];
        if (dataRet.setting.mapType == 'world') {
            $("#btnReturnGlobal").hide();
            data = dataRet.data[dataRet.setting.groupIndex].world;
        } else {
            $("#btnReturnGlobal").show();
            data = dataRet.data[dataRet.setting.groupIndex].China;
        }
        var option = formMapOption(data, dataRet.setting.mapType, dataRet.setting.currentIndex);
        myChartSetOption(option, myChart);
    }

    /* 以下为：初始化, dataRet.setting为图表设置项，全局变量可改动 */
    var dataRet = {{ dataRet | safe }};
    formMeuns('group_menus', dataRet);

    // var mapType = 'world';
    // var groupIndex = 0;
    // var currentIndex = 0;
    
    var myChart = echarts.init(document.getElementById("displayBox"));
    setMyChart(myChart, dataRet);
    

    $(function () {
        myChart.on('click', function (params) {
            if (typeof(params.data)=="object"){
                // console.log(params.data.name);
                if(params.data.name=='China'){
                    dataRet.setting.mapType = 'china';
                    setMyChart(myChart, dataRet);
                }
            }
        });
        
        $('#btnReturnGlobal').click(function () {
            // 返回全球预览按钮
            dataRet.setting.mapType = 'world';
            setMyChart(myChart, dataRet);
        });
    });

</script>
{% endblock %}