<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENN-talentMap</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/commons.css">
    {% block css %}{% endblock %}
</head>
<body>
<div class="pg-header">
    <div class="logo left">
        <img src="/static/images/ENNlogo.png" style="width: 36px; height: 35px;">
        ENN能源研究院 - 人才地图
    </div>
    {% block titleLabels %}{% endblock %}
</div>

<div class="pg-body left">
    <div class="menus">
        {% block menus %}{% endblock %}
    </div>
</div>

<div class="content right">
    {% block content %}{% endblock %}
</div>

<div id="loading" class="loading hide">
    <img src="/static/images/loading.gif">
</div>

<script src="/static/plugins/jquery-3.4.1.min.js"></script>
<script src="/static/plugins/jquery.cookie.js"></script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    function toDisplayLoading() {
        $('#loading').removeClass('hide');
    }

    function toRemoveLoading() {
        $('#loading').addClass('hide');
    };

    $(function(){
        $(document).ready(function(){
            $(".div1").click(function(){ 
                $(this).next("div").slideToggle("slow")  
                .siblings(".div2:visible").slideUp("slow");
            });
        });

    });
</script>
{% block js %}{% endblock %}
</body>
{% block bodyout %}{% endblock %}
</html>